
*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0;
  }
  body{
    font-family: "Lato", sans-serif !important;
    min-height: 100vh;
    width: 100%;
    scrollbar-color: #666 #201c29;
  }  
  
  .conatiner-main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--base-clr);
  }
  .conatiner-loading{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main);
  }

  .content{
    height: 75%;
    width: 90%;
    background-image: linear-gradient(to bottom right, #430891, #4d81f0);
    border-radius: 5px 0px 0px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-shadow: -1px 2px 1px 2px #b798ff9b !important;

  }
  .conatiner-form{
    height: 90%;
    width: 75%;
    background-color: #201c29;
    border-top-left-radius: 30px 50px;
    border-bottom-left-radius: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .conatiner-inside-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
  }

  #NotiflixNotifyWrap {
    z-index: 9999999 !important;
  }